<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="item nav-item nav-link" routerLink="/">Home</a>
        <a class="item nav-item nav-link" routerLink="/cocktails">Cocktails</a>
        <a class="item nav-item nav-link" routerLink="/mocktails">Mocktails</a>
        <a class="item username" routerLink="/user-profile">Hi {{currentUser.firstName}}</a>
        <a class="item logout" (click)="logout()">Logout</a>
    </div>
</nav>
<!-- main content container -->
<div class="login">
    <div class="bodyContainer">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>
