.container{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout{
    margin-left: auto;
}

.navbar {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 8%;
    width: 100%;
    position: fixed;
    margin:0;
    padding: 0;
    top:0;
    left:0;
    z-index: 9999;
    background: #1c1c1d65;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    padding: 0 10%;
}

.nav-item{
    padding: 0.7em;
    justify-content: space-around;
}
