<nav class="navbar sticky navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav js--main-nav">
        <a class="item nav-item" routerLink="''">Home</a>
        <a class="item nav-item" routerLink="/cocktails">Cocktails</a>
        <a class="item nav-item" routerLink="/mocktails">Mocktails</a>
        <a class="item nav-item" routerLink="/contact">Contact</a>
        <a class="item username" routerLink="/user-profile">Hi {{currentUser.firstName}}</a>
        <a class="item logout" (click)="logout()">Logout</a>
    </div>

   <div class="mobileNavbar">
        <img src="../assets/Images/MCKTD-Logo-1000px-WhiteOutline.png" alt="Mcktd logo" class="mcktdLogo">
        <a class="mobile-nav js--nav-icon"><i class="icon ion-md-menu" (click)="toggleCollapse()"></i></a>
    </div>
</nav>

<div class="login">
    <div class="bodyContainer">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>