.alert{
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #DA286450;
    color: #ffffff95;
    padding: 0.5em;
    font-family: 'passionate relationship';
    font-size: 42px;
    text-align: center;
}