<section class="recipeSection">
    <div class="recipe">
        <figure class="figureBox">
            <img class="imageFigure" src={{mocktail.imageUrl}}>
        </figure>
        <div class="details">
            <p class="mocktailName">{{mocktail.name}}</p>
            <h3>Recipe</h3>
            <hr>
            <p class="mocktailRecipe">{{mocktail.recipe}}</p>
            <h3>Garnish</h3>
            <hr>
            <p class="mocktailGarnish">{{mocktail.garnish}}</p>
        </div>
    </div>
</section>

<section class="buttonRecipeSection">
    <button  class="btn" (click)="goBack()">go back</button>
</section>