button{

    width: 50%;
    background: url=("./assets/Images/white-cocktail.jpg");
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
}