body{
    background-image: url(../src/app/Images/background_scholl-.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    position: static;
}