<section class="container">
    <div class="form-group logo">
        <img src="./assets/Images/MCKTD-Logo-White-1000px.png" alt="MCKTD Logo">
    </div>

    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">  
        <label for="username"></label>
            <i class="icon ion-md-log-in"></i>
            <input placeholder="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        </div>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div class="feedback" *ngIf="f.username.errors.required">* Username is required</div>
            </div>
    
        <div class="form-group">
            <label for="password"></label>
            <i class="icon ion-md-unlock"></i>
            <input placeholder="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div class="feedback" *ngIf="f.password.errors.required">* Password is required</div>
            </div>
    
        <div class="btnGroup">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Login
            </button>
            <button routerLink="/register" class="btn btnRegister btn-link">Sign up</button>
        </div>

        <p routerLink="/password" class="passwordForgot">forgot password?</p>
    </form>
</section>