// Colors
$logoColor_1: #DA2864;
$LogoColor_2: #ec6091;
$LogoColor_3: #f2a7be;
$LogoColor_4: #9ae1e2;
$LogoColor_5: #16a5a3;
$Background_Color: #1c1c1d;
$Background_ColorOp65: #1c1c1d65;
$Background_ColorOp90: #1c1c1d90;
$TextColor: #fff;
$TextColor_Dark: #000;

// Fonts
$FontPassionate: 'passionate relationship';
$FontSmiley: 'smiley';
$FontDefault: 'Lato', 'Arial', sans-serif;


.files{
    color: $Background_Color;
}

h1{
    color: $Background_Color;
    text-align: center;
    font-family: $FontPassionate;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 300%;
}

ul li{
    color: $Background_Color;
    list-style-type: none;
}

a:hover {
   cursor: pointer;
}