// Colors
$logoColor_1: #DA2864;
$LogoColor_2: #ec6091;
$LogoColor_3: #f2a7be;
$LogoColor_4: #9ae1e2;
$LogoColor_5: #16a5a3;
$Background_Color: #1c1c1d;
$Background_ColorOp65: #1c1c1d65;
$Background_ColorOp90: #1c1c1d90;
$TextColor: #fff;
$TextColor_Dark: #000;

// Fonts
$FontPassionate: 'passionate relationship';
$FontSmiley: 'smiley';
$FontDefault: 'Lato', 'Arial', sans-serif;

//Images
$Background_Image: '../../assets/Images/white-cocktail.jpg';

// Css
.recipeSection{
  width: 60%;
  overflow: hidden;
  margin: 10% 20% 0 20%;
  background: $LogoColor_5;
  box-shadow: 5px 5px 15px $LogoColor_4;
}

.buttonRecipeSection{
  width: 60%;
  margin: 5% 20%;
  text-align: center;
}

.recipe{
  display: flex;
  flex-direction: row;
  margin: 0;
}

.details{
  width: 100%;
  display: flex;
  padding-left: 2%;
  padding-top: 4%;
  flex-direction: column;
  color: $Background_Color;
  font-family: $FontDefault;
  background: $LogoColor_5;
  filter: grayscale(75%);
}

h3{
  font-family: $FontPassionate;
  font-size: 175%;
  font-weight: 300;
  letter-spacing: 3px;
  margin-top: 0.75em;
}

hr{
  margin-right: 5%;
  margin-bottom: 0.5em;
}

.cocktailName{
  font-family: $FontPassionate;
  font-size: 400%;
  font-weight: 300;
  letter-spacing: 4px;
}

.cocktailRecipe,
.cocktailGarnish{
  width: 75%;
  font-size: 80%;
  font-weight: 300;
  letter-spacing: 1px;
}

.figureBox{
  z-index: 9996;
  overflow: hidden;
  width: 60%;
}

.imageFigure{
  width: 100%;
  height: auto;
  transform: scale(1.05);
}


// btn 
.btn{
  color: $TextColor;
  background-color: $LogoColor_5;
  font-size: 150%;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: $FontPassionate;
  padding: 10px 60px;
  border-radius: 100px;
  filter: grayscale(75%);
}

.btn:link,
.btn:visited{
  font-weight: 300;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
  background-color: $LogoColor_4;
  border: 1px solid $LogoColor_4;
  color: $TextColor_Dark;
}

