<section class="recipeSection">
    <h2>Cocktail #{{cocktail.id}}</h2>
    <div class="recipe">
        <figure class="figureBox">
            <img class="imageFigure" src={{cocktail.imageUrl}}>
        </figure>
        <div class="details">
            <p class="cocktailName">{{cocktail.name}}</p>
            <h3>Recipe</h3>
            <hr>
            <p class="cocktailRecipe">{{cocktail.recipe}}</p>
            <h3>Garnish</h3>
            <hr>
            <p class="cocktailGarnish">{{cocktail.garnish}}</p>
        </div>
    </div>
</section>
<section class="rating">
    <p class="ratingCocktail"><strong>Rate the Cocktail</strong></p>
    <app-rating></app-rating>
</section>
<section class="buttonRecipeSection">
    <a class="btn" (click)="goBack()">go back</a>
</section>