<nav class="profileContainer">
    <ul>
        <li><a routerLink="/edit-user">Edit</a></li>
        <li><a routerLink="/change-user">Change</a></li>
        <li><a routerLink="/add-user">Add</a></li>
    </ul>
</nav>

<section class="profileContainer">
        <h1>Hi {{currentUser.firstName}}!</h1>
        <br>
        <ul>
            <li>
                <label> Username: {{currentUser.userName}} </label> <br>
                <label> Firstname: {{currentUser.firstName}} </label> <br>
                <label> Lastname: {{currentUser.lastName}}</label> <br>
                <label> Email: {{currentUser.email}}</label><br>
                <br>
                <button (click)="deleteUser(user.id)" class="text-danger">Delete</button>
            </li>
        </ul>

        <app-image-uploader></app-image-uploader>
</section>

