<section class="registerContainer">
    <div class="container">
        <div class="form-group logo">
            <img src="./assets/Images/MCKTD-Logo-White-1000px.png" alt="MCKTD Logo">
        </div>

        <h2>Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">

            <div class="form-group">
                <label for="firstName"></label>
                <i class="icon ion-md-contact"></i>
                <input placeholder="firstname" type="text" formControlName="firstName" autocomplete="new-firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" maxlength="15"/>
            </div>
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div class="feedback" *ngIf="f.firstName.errors.required">* First Name is required</div>
                </div>

            <div class="form-group">
                <label for="lastName"></label>
                <i class="icon ion-md-folder"></i>
                <input placeholder="lastname" type="text" formControlName="lastName" autocomplete="new-lastname"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" maxlength="20"/>
            </div>
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div class="feedback" *ngIf="f.lastName.errors.required">* Last Name is required</div>
                </div>

            <div class="form-group">
                <label for="email"></label>
                <i class="icon ion-md-send"></i>
                <input placeholder="email" type="email" formControlName="email" autocomplete="new-email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" maxlength="35"/>
            </div>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div class="feedback" *ngIf="f.email.errors.required">* E-mail is required</div>
                    <div class="feedback" *ngIf="f.email.errors.pattern">* E-mail requires an @sign</div>
                </div>

            <div class="form-group">
                <label for="username"></label>
                <i class="icon ion-md-log-in"></i>
                <input placeholder="username" type="text" formControlName="username"  autocomplete="new-username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" maxlength="20"/>
            </div>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div class="feedback" *ngIf="f.username.errors.required">* Username is required</div>
                </div>

            <div class="form-group">
                <label for="password"></label>
                <i class="icon ion-md-finger-print"></i>
                <input placeholder="password" type="password" formControlName="password" autocomplete="new-password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" maxlength="15"/>
            </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div class="feedback" *ngIf="f.password.errors.required">* Password is required</div>
                    <div class="feedback"*ngIf="f.password.errors.pattern" >* Password must be at least 8 characters <br> & contain a capital, lowcase, number <br> and special icon</div>
                </div>
        
            <div class="form-group">
                <label for="confirmPassword"></label>
                <i class="icon ion-md-unlock"></i>
                <input placeholder="repeat password" type="password" formControlName="confirmPassword" autocomplete="new-confirmPassword" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" maxlength="15" />
            </div>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div class="feedback" *ngIf="f.confirmPassword.errors.required">* Confirm Password is required</div>
                    <div class="feedback" *ngIf="f.confirmPassword.errors.mustMatch">* Passwords must match</div>
                </div>
            
            <div class="chckBox">
                <input class="checker" type="checkbox" formControlName="termsConditions" autocomplete="new-termsConditions" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.termsConditions.errors }">
                <label class="check" for="termsConditions">
                I agree to <a routerLink="/termsAndConditions">Terms and Conditions</a>
                </label>
            </div>

            <div *ngIf="submitted && f.termsConditions.errors" class="invalid-feedback">
                <div class="feedback" *ngIf="f.termsConditions.errors.required">* Please agree with our Terms & Conditions</div>
            </div>

            <div class="btnGroup">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <button routerLink="/login" class="btn btnRegister btn-lin">Cancel</button>
            </div>
        </form>
    </div>
</section>

