<div class="form-group logo">
    <img src="../Images/MCKTD-Logo-White-1000px.png" alt="MCKTD Logo">
</div>

<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName"></label>
        <i class="icon ion-md-contact"></i>
        <input placeholder="firstname" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
    </div>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div class="feedback" *ngIf="f.firstName.errors.required">*First Name is required</div>
        </div>
    <div class="form-group">
        <label for="lastName"></label>
        <i class="icon ion-md-folder"></i>
        <input placeholder="lastname" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
    </div>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div class="feedback" *ngIf="f.lastName.errors.required">*Last Name is required</div>
        </div>
    <div class="form-group">
        <label for="lastName"></label>
        <i class="icon ion-md-send"></i>
        <input placeholder="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div class="feedback" *ngIf="f.email.errors.required">*E-mail is required</div>
        </div>
    <div class="form-group">
        <label for="username"></label>
        <i class="icon ion-md-log-in"></i>
        <input placeholder="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    </div>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div class="feedback" *ngIf="f.username.errors.required">*Username is required</div>
        </div>
    <div class="form-group">
        <label for="password"></label>
        <i class="icon ion-md-finger-print"></i>
        <input placeholder="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    </div>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div class="feedback" *ngIf="f.password.errors.required">*Password is required</div>
            <div class="feedback"*ngIf="f.password.errors.minlength">*Password must be at least 6 characters</div>
        </div>
    <div class="btnGroup">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <button routerLink="/login" class="btn btnRegister btn-lin">Cancel</button>
    </div>

</form>
