// Colors
$Color_1: #f70;
$Color_2: gold;
$Color_3: #ea0;

.rating {
display: flex;
flex-direction: row-reverse;
justify-content: space-evenly;
width: 100%;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: $Color_1;
    filter:grayscale(35%);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: $Color_2;
    filter:grayscale(35%);
}


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: $Color_3;
    filter:grayscale(35%);
}