<section class="passwordContainer">
    <div class="container">
            <div class="form-group logo">
                    <img src="./assets/Images/MCKTD-Logo-White-1000px.png" alt="MCKTD Logo">
            </div>

            <h2>Forgot Password</h2>
                <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="form-group">  
                    <label for="email"></label>
                    <i class="icon ion-md-send"></i>
                    <input placeholder="email" type="email" autocomplete="new-email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" maxlength="35"/>
                    </div>

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div class="feedback" *ngIf="f.email.errors.required">* Email is required</div>
                        <div class="feedback" *ngIf="f.email.errors.pattern">* Please enter a valid email adress</div>
                    </div>

                    <div class="btnGroup">
                        <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Send Email
                        </button>
                        <button routerLink="/login" class="btn btnRegister btn-lin">Back to login</button>
                        </div>
                    </form>

    </div>
</section>